.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;

}

.features .feat i {
    color: var(--main-color);
}

.features .feat i h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat i p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
