/* Start Features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F6F6F6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;

}

.features .feat i {
    color: var(--main-color);
}

.features .feat i h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat i p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Features */