.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10%;
    text-align: center;
    font-size: 18px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}