.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    /* height: 3px; */
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    /* height: 3px; */
    width: 60%;
    transition: var(--transition-duration);
}

.header .links .icon span:last-child {
    /* height: 5px; */
    width: 100%;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F6F6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--transition-duration);
}

.header .links ul a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
