.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    right: 0;
    top: -50px;
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;

}

.services .services-content .image img {
    width: 260px;
}

/* Small */
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 1199px) {
    .services .services-content .image {
        display: none;
    }
}