.special-heading {
    color: #EBECED;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

/* Small */
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -20px;
        /* font-size: 16px; */
    }
}